.search--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 270px;
}

.textBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 230px;
    height: 35px;
    border-radius: 24px;
    box-shadow: 11px 11px 44px 1px rgba(0, 0, 0, 0.12);
}

.lupa {
    padding-left: 10px;
}

.search--input {
    border: none;
    outline: none;
    padding-left: 15px;
    font-weight: 400;
    font-size: 15px;
}

.filters--button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 17.5px;
    background-color: white;
    box-shadow: 11px 11px 44px 1px rgba(0, 0, 0, 0.12);
}