.inicio--wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f6f7fb;
}

.inicio--menu {
    height: 100%;
    width: 30%;
}

.cards--table {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.building--cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    padding-bottom: 50px;
}

.ticket--cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    height: 210px;
}

.titles {
    font-size: 20px;
    font-weight: 700;
}